// 1200
@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper
    &-wrapper
    &-slide
      &__image
        height: 100%
        object-fit: scale-down

// 992     
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
  .newsletter
    &-wrapper
      max-width: 700px
//768
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      width: 16px
      height: 11px
      padding: 0
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: none
      border-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__text
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    max-width: 576px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  #map
    min-width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      display: flex
      flex-direction: column
      align-items: start
///import css-variables from max-width 576
@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      padding-left: 34px
      padding-right: 34px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  //480
@media (max-width: 480px)
  .breadcrumb
    display: flex
@media (max-width: 320px)
  .navbar
    &-top
      padding-top: 22px
      padding-bottom: 22px
  .breadcrumb
    padding: 18px 0
    &__item
  .newsletter
    &-wrapper
      padding-left: 20px
      padding-right: 20px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
