*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: $bg-second-color
  color: $text-color

img
  //max-width: 100% //Картинки не вываливаются за границы родительского блока
.container
  max-width: 1110px
  margin: auto
